<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <!-- Claim web links and pages so macOS can offer Dive as the default browser. -->
  <key>CFBundleURLTypes</key>
  <array>
    <dict>
      <key>CFBundleURLName</key>
      <string>Web URL</string>
      <key>CFBundleURLSchemes</key>
      <array>
        <string>http</string>
        <string>https</string>
      </array>
      <key>LSHandlerRank</key>
      <string>Default</string>
    </dict>
  </array>
  <key>CFBundleDocumentTypes</key>
  <array>
    <dict>
      <key>CFBundleTypeName</key>
      <string>HTML document</string>
      <key>CFBundleTypeRole</key>
      <string>Viewer</string>
      <key>LSHandlerRank</key>
      <string>Alternate</string>
      <key>LSItemContentTypes</key>
      <array>
        <string>public.html</string>
        <string>public.xhtml</string>
      </array>
    </dict>
  </array>
  <key>NSCameraUsageDescription</key>
  <string>Pages you visit may ask to use the camera.</string>
  <key>NSMicrophoneUsageDescription</key>
  <string>Pages you visit may ask to use the microphone.</string>
  <key>NSLocationUsageDescription</key>
  <string>Pages you visit may ask for your location.</string>
</dict>
</plist>
